$primary-color: #1976d2;
$primary-light-color: #e6f7ff;

$header-color: #f7f7f7;

$bg-light-color: #ffffff;
$bg-hover-color: #eee;
$bg-dark-color: #f7f7f7;

$font-color: #333;
$font-light-color: #999;
$font-high-color: #fff;

$border-color: #eee;
$border-dark-color: #ddd;

$header-height: 80px;
